//Basically we update the default bootstrap values here instead of changing original one

//custom variables
$primary: #c29338;
$light: #fbf5e5;

//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
//We add these to original theme colors
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "purple": #8f00ff,
    "darkpurple": #6f2da8
);

//modify original theme colors map
$theme-colors: map-merge($custom-theme-colors,$theme-colors);

// import bootstrap, include this at end of scss file always
@import '../node_modules/bootstrap/scss/bootstrap';
